name: Lint

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Lint with black
        uses: psf/black@stable

      - name: Check for debugging print statements
        run: |
          if grep -rq "print(" spectrum_utils; then
              echo "Found the following print statements:"
              grep -r "print(" spectrum_utils
              exit 1
          fi
